<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.vfsglobal-privilege.com/India/library/images/student-privilege-banner.jpg);">
  <div class="banner-content">
    <h1>Welcome to Career Shake</h1>
    <h1>(Re) think about your future!</h1>
    <p>Seek direct help from professional.</p>
    <%= link_to "See our list of professionals", prof_listings_path, class: "btn" %>
  </div>
</div>
