<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3184298/pexels-photo-3184298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="banner-content">
    <h1>Welcome to Career Shake</h1>
    <h1>(Re) think about your future!</h1>
    <p>Seek direct help from professional.</p>
    <%= link_to "See our list of professionals", prof_listings_path, class: "btn" %>
  </div>
</div>
