.btn {
  border-style: solid;
  border-width: 2px;
  border-color: $mauve;
  background-color: white;
  color: $mauve;
  font-weight: bold;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
}

.btn:hover {
  background-color: $white;
  // color: $gray;
  // border-style: solid;
  // border-width: 2px;
  // border-color: $gray;
  border-color: $purple;
  color: $purple;
}

.btn-card {
  font-size: 10px;
}


.button-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 5px 0 -7px 96px;
}




