.btn {
  background-color: $purple;
  border-radius:    6px;
      color: white;
}

.btn-card {
  font-size: 10px;
  width: 200px
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 12px;
}
