.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0px 0px;
  justify-items: center;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card-listing {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  height: 350px;
  width: 300px;
  margin: 16px;
  transition: all .2s ease-in-out;
}

.card-listing:hover {
  transform: scale(1.04);
}

.card-listing-img {
  height: 65%;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  background-size: cover;
}

.card-listing h2 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0;
  text-decoration: none;
}

.card-listing a {
  text-decoration: none;
  font-color: black;
}

.card-listing a:hover {
  text-decoration: none;
  font-color: black;
  transform: scale(1.04);
}

.card-listing p {
  font-size: 12px;
  color: black;
  opacity: .7;
  margin: 4px 0;
  text-decoration: none;
}

.card-listing-infos {
  padding: 12px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: 35%;
  width: 100%;
}

.card-listing-lo {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  height: 350px;
  width: 300px;
  margin: 16px;
  transition: all .2s ease-in-out;
}

.card-listing-lo h2 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0;
  text-decoration: none;
}

.card-listing-lo a {
  text-decoration: none;
  font-color: black;
}

.card-listing-lo p {
  font-size: 12px;
  color: black;
  opacity: .7;
  margin: 0;
  text-decoration: none;
}

.card-listing-infos-lo {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 35%;
  width: 100%;
}

.container-profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 16px;
}

.profile-card img {
  width: 100%;
  height: auto;
  // margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
}

.profile-card-content-info {
  margin-left: 16px;
}

.p-connected {
  font-weight: bold;
  color: $purple !important;
}
