.form-container {
  margin: 16px;
}
.container-form{
  margin: 16px;
}
.form-content {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  // margin: 16px;
  padding: 16px;
}
